/* Your Website Styles */
body {
	background: url("../img/bg.png");
	color: #b2b2b2;
}

h1 {
	font-family: 'Nunito' bold, sans-serif;
}

h2 {
	font-family: 'Nunito' bold, sans-serif;
}

p {
	font-family: 'Nunito' normal, sans-serif;
}