/* Your Website Styles */
a:link {
	color: #b2b2b2;
	font-family: 'Nunito' normal, sans-serif;
    text-decoration: none;
}

a:visited {
	
}

a:focus {
	border: 10px lime solid
}

a:hover {
	background: lime;
	color: black;
}

a:active {
	
}

body {
	background: url("../img/bg.png");
	color: #b2b2b2;
}

div.rfloat {
	float: right;
}

h1 {
	font-family: 'Nunito' bold, sans-serif;
}

h2 {
	font-family: 'Nunito' bold, sans-serif;
}

nav {

}

p {
	font-family: 'Nunito' normal, sans-serif;
}

ul.nav li {
  display: block;
  font-family: 'Nunito' normal, sans-serif;
  float: left;
  list-style: none;
  margin: 0px 40px 20px 0px;
}